@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face{
  font-family: honeybabe;
  src:url('../../public/fonts/Honey\ Baby.otf');
}

@font-face{
font-family: mainfont;
  src:url('../../public/fonts/Simple\ Nathalie.otf');
}

@theme{
  --font-honeybabe: honeybabe, 'sans-serif';
  --font-mainfont: mainfont, 'sans-serif';
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari, and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge, and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}




